<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luckydut97.lighton.feature.auth">

    <application>
        <activity
            android:name="com.luckydut97.lighton.feature.auth.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>